@import "../variable.scss";

.movie-card {
	position: relative;
	border: 1px solid rgba(150, 150, 150, 0.2);
	border-radius: 10px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
	overflow: hidden;
	text-align: center;
	box-shadow: inset 5px 5px 20px rgba(255, 255, 255, 0.1),
		0 4px 20px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	transition: border 0.4s ease, background 0.4s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1px;
	max-height: 40.5rem;
	height: 40.5rem;

	&:hover {
		border: 1px solid rgba(255, 255, 255, 0.5);

		&:hover::before {
			animation: shine 6s ease-in-out infinite;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -100px;
		width: 1000px;
		height: 100px;
		transform: rotate(30deg);
		background: linear-gradient(
			to bottom,
			transparent,
			rgba(200, 200, 200, 0.1),
			transparent
		);
		animation: none;
		z-index: 1;
		pointer-events: none;
	}

	&__poster {
		position: relative;

		.movie-card__posterImg {
			width: 100%;
			height: 350px;
			object-fit: cover;
			border-radius: 8px;
		}
	}

	&__details {
		position: relative;
		padding: 1rem;
	}

	&__title {
		font-size: 1.2rem;
		font-weight: 600;
		color: rgba(255, 255, 255, 0.9);
		text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
		margin-bottom: 0.5rem;
	}

	&__date {
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.7);
		text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}
}

@keyframes shine {
	0%,
	100% {
		margin-top: -100px;
	}
	50% {
		margin-top: 800px;
	}
}
